body {
  font-family: Montserrat;
  font-weight: 500;
  background-color: #fafafa;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1076px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  min-height: 104px;
  display: flex;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 130px;
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 900px) {
  .header__logo {
    margin-right: 80px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    margin-right: 50px;
  }
}

.menu {
  width: 100%;
}
.menu__items {
  display: flex;
  flex-wrap: wrap;
}
.menu__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 171.4285714286%;
  color: #737373;
  transition: color 0.1s ease-in-out;
}
.menu__link:not(:last-child) {
  margin-right: 20px;
}
.menu__link:hover {
  color: #FF7B47;
}
@media (max-width: 425px) {
  .menu__link {
    font-size: 16px;
  }
}

.main {
  flex: 1 1 auto;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  color: #252B42;
}

.subtitle {
  line-height: 142.8571428571%;
  color: #737373;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 180px;
  background: #FF7B47;
  color: #fff;
  font-weight: 700;
  line-height: 200%;
  border-radius: 50px;
  transition: background 0.1s ease-in-out;
}
.btn:hover {
  background: #d96c42;
}
@media (max-width: 767px) {
  .btn {
    width: 140px;
    height: 40px;
    font-size: 12px;
  }
}

.btn_o {
  background: transparent;
  border: 1px solid #0D5C63;
  color: #0D5C63;
}
.btn_o:hover {
  background: #0D5C63;
  color: #fff;
}

.intro {
  padding: 180px 0 190px 0;
  background: url(../img/intro/bg.jpg) center/cover no-repeat;
}
.intro__content {
  max-width: 400px;
}
.intro__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 137.9310344828%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 35px;
}
.intro__subtitle {
  font-size: 20px;
  line-height: 150%;
  color: #737373;
  margin-bottom: 35px;
}
.intro__buttons {
  display: flex;
  gap: 10px;
}
@media (max-width: 900px) {
  .intro__title {
    font-size: 52px;
    margin-bottom: 30px;
  }
  .intro__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .intro__title {
    font-size: 42px;
    margin-bottom: 20px;
  }
  .intro__subtitle {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .intro__buttons {
    gap: 5px;
  }
}

.cards {
  display: flex;
  margin-top: -100px;
  gap: 30px;
}
.cards__item {
  flex: 1 1 33.333%;
  padding: 35px 40px;
  background: #fff;
}
.cards__item:last-child {
  background: #0D5C63;
}
.cards__item:last-child .cards__title {
  color: #fff;
}
.cards__item:last-child .cards__subtitle {
  color: #fff;
}
.cards__logo {
  margin-bottom: 10px;
}
.cards__title {
  font-size: 24px;
  line-height: 133.3333333333%;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .cards {
    flex-wrap: wrap;
    text-align: center;
  }
  .cards__item {
    flex: 1 1 100%;
  }
}/*# sourceMappingURL=style.css.map */